<% if message.like_user(current_user.id) %>
  <%= button_to message_likes_path(like, message_id: message.id), method: :delete, id: "like-button", remote: true do %>
    <div class="smile">

    </div>
    <span>
      <%= message.like_count %>
    </span>
  <% end %>
<% else %>
  <%= button_to message_like_path(message.id), id: "like-button", remote: true do %>
    <div class="face">
    </div>
    <span>
      <%= message.likes_count %>
    </span>
  <% end %>
<% end %>
