<body>
  <div class="user-title">
    <p>Happinessへようこそ</p>
  </div>

  <div class="user-title1">
    <p>〜メッセージを届けたい人を選んでください〜</p>
  </div>

  <div class="logout">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout1' %>
  </div>

  <div class="character">
    <div class="character1">
      <img src="<%= asset_path "character2.jpeg" %>" width="200" height="200" />
    </div>
  </div>

  <div class="user-list">
    <div class="user-list1">
      <% @users.each do |user| %>
      <% if current_user.id != user.id %>
      <p>
        <%= link_to user_path(user.id) do %>
          <%= user.nickname %>さん
        <% end %>
      </p>
      <% end %>
      <% end %>
    </div>
  </div>

</body>
