<header>
  <div class="toppage">
    <%= link_to 'トップページへ', root_path, class:'toppage1' %>
  </div>

  <div class="logout">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout1' %>
  </div>
</header>
