<head>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div class="my-header">
  <div class="login-title0">
    <span class="login-title">Happiness</span>
  </div>
</div>

<div class="summary-top">
	<p class="summary1">あなたの能力・性格を友達の力を借りて知りましょう！</p>
</div>

<div class="twitter_login0">
	<div class="twitter-exp">
  	Twitterアカウントで簡単登録！
	</div>
	<div class="twitter_login1">
		<span>
			<i class="fa fa-twitter" aria-hidden="true"></i>
		</span>
		<%- if devise_mapping.omniauthable? %>
		  <%- resource_class.omniauth_providers.each do |provider| %>
		    <%= link_to "#{OmniAuth::Utils.camelize(provider)}で登録/ログイン", omniauth_authorize_path(resource_name, provider), class: 'twitter-login10', style: 'text-decoration: none;'  %><br />
		  <% end -%>
		<% end -%>
	</div>
</div>



<div class="ad">
	<!-- admax -->
	<script src="//adm.shinobi.jp/s/044b63c8574405f660d632bdaa2b69a5"></script>
	<!-- admax -->

</div>



</body>
