<body>
  <%= render partial: 'shared/header' %>
  <div class="done0">
    <div class="done1">
      <p class="done2">レビューを届けることに成功しました！</p>
    </div>

    <div class="done3">
      <p class="done4">あなたも友達からレビューをもらってみませんか？</p>
    </div>

    <div class="done44">
      <%= link_to '簡単登録・ログインページへ', new_user_session_path %>
    </div>
  </div>

  <div class="ad2">
		<!-- admax -->
		<script src="//adm.shinobi.jp/s/044b63c8574405f660d632bdaa2b69a5"></script>
		<!-- admax -->

	</div>
</body>
