<body>
  <header>
    <div class="toppage">
      <%= link_to 'トップページへ', users_path, class:'toppage1', style: 'text-decoration: none;' %>
    </div>
  </header>
  <div class="done0">
    <div class="done1">
      <p class="done2">項目の登録が完了しました！</p>
    </div>

    <div class="done3">
      <p class="done4">twitterでシェアして</p>
      <p class="done5">レビューをもらいましょう！</p>
    </div>
  </div>


  <div class="row">
    <!-- <a href="http://twitter.com/share?url=url/posts/<%= @post_id %>">
    <button type="button" class="btn btn-primary btn-lg btn-block col-xs-12">Twitterでシェア</button> -->
    <a class="twitter-share-button"
    href="http://twitter.com/share?url=http://happiness-warm.com/users/&text=レビュー項目を登録しました!私の名前をタップしてレビューしてね!&hashtags=happiness" target="_blank"
    data-size="large"
    data-url="https://dev.twitter.com/web/tweet-button"
    data-via="twitterdev"
    data-related="twitterapi,twitter"
    data-hashtags="example,demo"
    data-text="custom share text"
    data-size="large"
    data-lang="ja"
    data-dnt="true">
  Twitterに投稿！
  </a>
  </div><!--row-->

  <div class="ad2">
		<!-- admax -->
		<script src="//adm.shinobi.jp/s/044b63c8574405f660d632bdaa2b69a5"></script>
		<!-- admax -->

	</div>
</body>
