@import url(https://fonts.googleapis.com/css?family=Lato:400,700)
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css)

.happiness_header
  position: relative
  height: 65px
  box-shadow: 0 2px 4px 0 #d4d4d4
  background-color: #ffffff
  &_image
    position: absolute
    left: 9px
    top: 13px
  &_title
    position: absolute
    left: 53px
    top: 20px
    font-weight: bold
    font-size: 16px
    color: #615858
    letter-spacing: 0.05em
    font-family: HiraginoSans,sans-serif
  &_bar
    width: 24px
    height: 20px
    position: absolute
    right: 12px
    top: 20px
    cursor: pointer
  &_modal
    width: 270px
    display: none
    right: 0px
    top: 0px
    height: 830px
    z-index: 15
    position: fixed
    background: #eb6a7a
    &_close
      position: absolute
      top: 8px
      right: 8px
      &_btn_size
        width: 45px
        height: 45px
    &_ul
      position: absolute
      top: 52px
    &_li
      text-align: center
      margin-top: 48px
      list-style: none
      font-size: 21px
      font-weight: bold
      &_font
        color: #fff
        &:hover
          color: #fff
    &_square
      position: absolute
      left: 225px
      top: 200px

.happiness_toppage_content
  width: 375px
  margin: 0 auto
  &_catch
    margin-top: 32px
    text-align: center
    &_second
      text-align: center
      margin-top: 12px
  &_image
    margin-left: 60px
    margin-top: 32px
    &_design
      border-radius: 8px
  &_intro
    margin-top: 32px
    &_text
      font-size: 14px
      line-height: 2.0
      letter-spacing: 0.04em
      margin-top: 20px
      &_final
        font-size: 14px
        line-height: 2.0
        letter-spacing: 0.04em
        margin-top: 30px
        &_main
          font-size: 14px
          line-height: 2.0
          letter-spacing: 0.04em
          text-align: center
    &_image
      text-align: center
  &_white
    margin-top: 32px
    width: 385px
    background-color: #fff
    border-radius: 32px
    box-shadow: 1px 1px 12px 1px #d4d4d4
    padding: 1px 30px
  &_manual
    margin-bottom: 40px
    &_title
      text-align: center
      margin-left: -18px
      margin-top: 64px
      line-height: 35px
      font-family: HiraginoSans,sans-serif
      &_first
        text-align: center
        margin-left: -18px
        line-height: 35px
        font-family: HiraginoSans,sans-serif
      &_text
        font-size: 18px
        font-weight: bold
        border-bottom: 2px solid #eb6a7a
        padding-bottom: 4px
    &_text
      font-size: 14px
      line-height: 2
      letter-spacing: 0.04em
      margin-top: 20px
      text-align: center
    &_first
      margin-top: 14px
      font-size: 14px
      line-height: 1.71
      &_image
        margin-top: 15px
        &_radius
          border-radius: 8px
          max-width: 320px
    &_second
      margin-top: 14px
      font-size: 14px
      line-height: 1.71
      &_image
        text-align: center
        margin-top: 15px
    &_append
      margin-top: 20px
      text-align: center
.happiness_toppage_login_section
  width: 100%
  background-color: rgb(255, 255, 255)
  position: fixed
  bottom: 0px
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 9px 3px
  z-index: 5
  opacity: 1
  height: 70px
  border-top: 1px solid rgb(235, 235, 235)
  padding: 10px 0px
  transition: all 0.2s ease 0s
  &_twitter
    background-color: #009EF5
    height: 45px
    width: 250px
    border-radius: 4px
    text-align: center
    line-height: 45px
    float: right
    margin-right: 25px
    &_text
      color: #fff
      font-size: 18px

.happiness_index_modal
  position: relative
  width: 375px
  margin: 0 auto
  &_animation p
    width: 300px
    margin-left: 40px
  &_animation
    border-radius: 5px
    box-shadow: 0 2px 4px 0 #000
    z-index: 1
    height: 730px
    margin-top: 20px
