// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  background-color: #FFCC99;
}

.title {
  position: absolute;
  left: 550px;
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #484848;
}

.user-title {
  position: absolute;
  left: 490px;
  top: 80px;
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #484848;
}

.user-title1 {
  position: absolute;
  left: 490px;
  top: 160px;
}

.user-list {
  position: absolute;
  left: 510px;
  top: 250px;
}

.user-list1 {
  font-size: 30px;
}

.explanation {
  position: absolute;
  left: 550px;
  top: 160px;
  font-family: "Kozuka Gothic Pro",sans-serif;
  font-weight: 520;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px;
}

.new-review-number {
  display: inline-block;
    width: 38px;
    height: 38px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    background: #ea352d;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
}

.main-content {
  position: absolute;
  left: 490px;
  top: 240px;
}

.message-review {
  font-size: 20px;
  font-weight: 600;
}

.field0 {
  margin-top: 10px;
}

.content1 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.content2 {
  left: 400px;
}

.content-number {
  font-style: italic;
}

.content-form {
  height: 100px;
  width: 300px;
  margin-top: 5px;
  position: relative;
  left: 0px;
  border-radius: 4px !important;
  border: 1px solid #DBDBDB !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  // display: table !important;
  table-layout: fixed !important;
  margin-top: 10px;
  background-color: #FFFFCC;
  font-size: 18px;
}

.send {
  ox-shadow:none;
  position:relative;
  display:block;
  margin-top:15px;
  margin-bottom:30px;
  padding:17px;
  width:270px;
  font-size:1.2em;
  background:#f26964;
  color:#f4f4f4;
  box-shadow:0px 3px 0px #ab4b47;
  cursor:pointer;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
          -webkit-transition: all .1s ease-in-out;
             -moz-transition: all .1s ease-in-out;
                  transition: all .1s ease-in-out;

  outline:none;
}

.user-show-name {
  position: absolute;
  left: 400px;
  top: 30px;
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #484848;
}

.user-show-review {
  position: absolute;
  left: 400px;
  top: 120px;
}

.review-box {
  margin-top: 40px;
  border-radius: 6px;
  display: inline-block;
  padding: 6px 9px;
  min-width: 28px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  background: linear-gradient(140deg, #ffc333 55%, #FFB400 55%, #FFB400 100%);
  line-height: 1.1;
  text-rendering: optimizelegibility;
  text-align: center;
}

.user-show-review1 {
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.6px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #484848;
}

.user-show-review2 {
  margin-top: 40px;
}

.change-own-review0 {
  color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 17px !important;
    font-weight: 300 !important;
    letter-spacing: 0.2px !important;
    line-height: 22px !important;
}



.review-number {
  margin-left: 20px;
  color: #008489 !important;
    font: inherit !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-decoration: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    text-align: left !important;
}

.review-number0 {
  margin-bottom: 15px;
  color: #484848;
}

.change-own-review1 {
  position: absolute;
  top: 130px;
  left: 200px;
  width: 100%;
}

.change-own-page4 {
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.6px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #484848;
  margin-top: 20px;
}

.past-review {
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.6px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #484848;
  margin-top: 20px;
}

.review-all {
  padding-bottom: 30px;
}

// .smile {
//   background-image: image-url("smile.jpg");
//   background-size: 200px;
// }

// .face {
//   background-image: image-url("smile.jpg");
//   width: 36px;
//   height: 33px;
//   background-size: 34px;
// }

.past-comment {
  position: absolute;
  left: 400px;
  top: 470px;

}

.non-profile2 {
  font-family: "Kozuka Gothic Pro",sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
  position: absolute;
  left: 430px;
  top: 150px;
}

.non-profile-button {
  ox-shadow:none;
  position: absolute;
  left: 430px;
  top: 250px;
  display:block;
  margin-top:50px;
  margin-bottom:30px;
  padding:17px;
  width:270px;
  font-size:1.2em;
  background:#f26964;
  color:#f4f4f4;
  box-shadow:0px 3px 0px #ab4b47;
  cursor:pointer;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
          -webkit-transition: all .1s ease-in-out;
             -moz-transition: all .1s ease-in-out;
                  transition: all .1s ease-in-out;

  outline:none;
}

.first-comment {
  font-size: 20px;
  position: absolute;
  left: 430px;
  top: 140px;
  font-family: "Kozuka Gothic Pro",sans-serif;
  font-weight: 550;
  line-height: 32px;
}

.past-comment-individual {
  border-style: dashed;
  width: 600px;
}

.past-comment-individual1 {
  margin: 20px;
}

.past-comment1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.past-comment2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.users-show-button {
  ox-shadow:none;
  position:relative;
  display:block;
  margin-top:50px;
  margin-bottom:30px;
  padding:17px;
  width:270px;
  font-size:1.2em;
  background:#f26964;
  color:#f4f4f4;
  box-shadow:0px 3px 0px #ab4b47;
  cursor:pointer;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
          -webkit-transition: all .1s ease-in-out;
             -moz-transition: all .1s ease-in-out;
                  transition: all .1s ease-in-out;

  outline:none;
}



.character-message1 {
  background-image: image-url("character1.jpeg");
  position: absolute;
  left: 1000px;
  top: 500px;
  background-size: 200px;
}

.character {
  position: absolute;
  left: 180px;
  top: 170px;
}

.character1 {
  background-image: image-url("character1.jpeg");
  width: 200px;
  height: 200px;
  background-size: 200px;
}

.character1-message {
  background-image: image-url("character1.jpeg");
  width: 200px;
  height: 200px;
  background-size: 200px;
  position: absolute;
  left: 200px;
  top: 200px;
}


.mypage {
  position: absolute;
  right: 100px;
}

.logout1 {
  position: absolute;
  right: 0px;
}

.toppage1 {
  position: absolute;
  right: 100px;
}

.my-header {
  background-color: #FF7F50;
  border-bottom: 1px solid #EEE;
}

.login-title0 {
  padding-top: 15px;
  height: 50px;
  background: #FFCC99;
  margin-bottom: 1px;
  text-align: center;
}

.login-title {
  text-decoration: none;
  color: #444;
  font-size: 20px;
  font-weight: bold;
}

.login-login {
  position: absolute;
  left: 500px;
}

.login-login1 {
  font-size: 12px;
  font-weight: lighter;
}

.original_css1 {
  width: 400px;
  height: 33px;
  font-size: 15px;
  background-color: #FFEBCD;
}

.actions {
  height: 50px;
  margin-top: 17px;
}

.buttoncss_original1 {
  width: 144px;
  height: 42px;
  background-color: #16ab39;
  color: #FFFFFF;
  text-shadow: none;
}

.change-own-page1 {
  position: absolute;
  left: 400px;
  top: 150px;
}

.change-nickname {
  position: absolute;
  left: 400px;
  top: 150px;
}

.account-edit {
  font-weight: bold;
}

.account-edit0 {
  border-style: inset;
  margin-top: 20px;
}

.account-edit1 {
  margin: 50px;

}

.nickname-change1 {
  margin-left: 25px;
  padding-left: 10px;
  width: 300px;
  height: 33px;
  font-size: 15px;
  background-color: #FFEBCD;
}

.nickname1 {
  position: relative;
  top: 20px;
}

.nickname-change2 {
  margin-left: 10px;
  padding-left: 10px;
  width: 300px;
  height: 33px;
  font-size: 15px;
  background-color: #FFEBCD;
}

.nickname-btn {
  width: 144px;
  height: 42px;
  background-color: #16ab39;
  color: #FFFFFF;
  text-shadow: none;
  position: relative;
  top: 35px;
}

.user-title-edit {
  position: absolute;
  left: 450px;
  top: 110px;
  width: 60%;
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #484848;
}

ul.drop-menu {
 margin: 0px;               /* メニューバー外側の余白(ゼロ) */
 padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
  /* バーの背景色(濃い赤色) */
}

ul.drop-menu a { /* メニュー項目の背景色(濃い赤色) */
 color: #FF6600;              /* メニュー項目の文字色(白色) */
 font-weight: bold;
 display: block;
}

ul.drop-menu li {
 font-weight: bold;
 color: white;
 list-style-type: none;
 position: relative;
}

ul.drop-menu a:hover {
 background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
 color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

ul.drop-menu ul {
  margin: 0px;
  padding: 0px;
  position: absolute;
}

ul.drop-menu li:hover ul {
  display: block;
}

.change-own-page1 {
  position: absolute;
  left: 430px;
  top: 250px;
}

.nickname-change1 {
  border-radius: 4px !important;
  border: 1px solid #DBDBDB !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  // display: table !important;
  table-layout: fixed !important;
}

.nickname-change2 {
  height: 100px;
  width: 300px;
  margin-top: 5px;
  position: relative;
  left: 0px;
  border-radius: 4px !important;
  border: 1px solid #DBDBDB !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  // display: table !important;
  table-layout: fixed !important;
}

.change-own-page2 {
  font-family: "Kozuka Gothic Pro",sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}

.change-own-page3 {
  margin-bottom: 30px;
  color: #484848;
}


.edit-comment {
  position: absolute;
  left: 400px;
  top: 480px;
}

.edit-comment-1 {
  font-size: 30px;
}

.star-rating {
  position: absolute;
  left: 500px;
  top: 280px;
  font-size: 20px;
}

.user-title-review {
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #484848;
  position: absolute;
  left: 380px;
  top: 50px;
}

.user-show-receive {
  position: absolute;
  left: 400px;
  top: 30px;
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #484848;
}

.change-profile1 {
  position: absolute;
  left: 550px;
  top: 30px;
  width: 400px;
}

.change-profile3 {
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.6px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #484848;
  margin-top: 20px;
}

.follow1 {
  position: absolute;
  left: 300px;
  top: 80px;
}

.follow3 {
  color: #999;
  font-size: 24px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 16px;
  text-align: left;
  text-transform: capitalize;
}

.footer {
  position: absolute;
  bottom: 0px;
  right: 50px;
  font-size: 12px;
}

@media screen and ( max-width:479px )
{
  body {
    background-color: #FFCC99;
  }

  .user-title1 {
    position: absolute;
    left: 20px;
    top: 115px;
    color: #484848;
    font-weight: 600;
  }

  .user-list {
    position: absolute;
    left: 80px;
    top: 380px;
  }

  .user-list1 {
    font-size: 30px;
  }

  .character {
    position: absolute;
    left: 80px;
    top: 170px;
  }

  .my-header {
    background-color: #FF7F50;
    border-bottom: 1px solid #EEE;
  }

  .login-title0 {
    padding-top: 15px;
    height: 50px;
    background: #FFCC99;
    margin-bottom: 1px;
    text-align: center;
  }

  .login-title {
    text-decoration: none;
    color: #444;
    font-size: 20px;
    font-weight: bold;
  }

  .login-login {
    position: absolute;
    left: 10px;
  }

  .login-login1 {
    font-size: 12px;
    font-weight: lighter;
  }

  .original_css1 {
    width: 300px;
    height: 33px;
    font-size: 15px;
    background-color: #FFEBCD;
    border-radius: 4px !important;
    border: 1px solid #DBDBDB !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    // display: table !important;
    table-layout: fixed !important;
  }

  .actions {
    height: 50px;
    margin-top: 17px;
  }

  .user-show-name {
    position: absolute;
    left: 10px;
    top: 25px;
  }

  .user-show-review {
    position: absolute;
    left: 10px;
    top: 110px;
  }

  .review-box {

  }

  .past-comment {
    position: absolute;
    left: 10px;
    top: 400px;

  }

  .non-profile2 {
    position: absolute;
    left: 10px;
    top: 120px;
  }

  .non-profile-button {
    position: absolute;
    left: 10px;
    top: 290px;
  }

  .first-comment {
    font-size: 15px;
    position: absolute;
    left: 10px;
  }

  .past-comment-individual {
    border-style: dashed;
    width: 380px;
  }

  .past-comment-individual1 {
    margin: 20px;
  }

  .past-comment1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .past-comment2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .title {
    position: absolute;
    left: 90px;
    top: 30px;
  }

  .explanation {
    position: absolute;
    left: 20px;
    top: 120px;
  }

  .character1-message {
    background-image: image-url("character1.jpeg");
    position: absolute;
    left: 20px;
    top: 170px;
    background-size: 200px;
  }


  .main-content {
    position: absolute;
    left: 20px;
    top: 420px;
  }

  .content-form {
    width: 320px;
    height: 100px;
    margin-top: 10px;
    background-color: #FFFFCC;
    font-size: 18px;
  }

  .user-title {
    position: absolute;
    left: 90px;
    top: 40px;
    width: 60%;
  }

  .change-nickname {
    position: absolute;
    left: 10px;
  }

  .nickname-change2 {
    position: relative;
    left: 15px;
  }

  .nickname-btn {
    position: relative;
    left: 25px;
  }

  .account-edit0 {
    width: 350px;
  }

  .nickname-change1 {
    width: 240px;
  }

  .nickname-change2 {
    width: 240px;
  }

  .edit-comment {
    position: absolute;
    left: 10px;
  }

  .edit-comment-1 {
    font-size: 20px;
  }

  .user-title-edit {
    position: absolute;
    left: 80px;
    top: 140px;
    width: 60%;
    font-weight: 700;
    margin: 0px;
    word-wrap: break-word;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.6px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #484848;
  }

  ul.drop-menu {
   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
   padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
    /* バーの背景色(濃い赤色) */
  }

  ul.drop-menu a { /* メニュー項目の背景色(濃い赤色) */
   color: #FF6600;              /* メニュー項目の文字色(白色) */
   font-weight: bold;
   display: block;
  }

  ul.drop-menu li {
   font-weight: bold;
   color: white;
   list-style-type: none;
   position: relative;
  }

  ul.drop-menu a:hover {
   background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
   color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
  }

  ul.drop-menu ul {
    margin: 0px;
    padding: 0px;
    position: absolute;
  }

  ul.drop-menu li:hover ul {
    display: block;
  }

  .change-own-page1 {
    position: absolute;
    left: 20px;
    margin-top: 47px;
  }

  .nickname-change1 {
    border-radius: 4px !important;
    border: 1px solid #DBDBDB !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    // display: table !important;
    table-layout: fixed !important;
  }

  .nickname-change2 {
    height: 100px;
    width: 300px;
    margin-top: 5px;
    position: relative;
    left: 0px;
    border-radius: 4px !important;
    border: 1px solid #DBDBDB !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    // display: table !important;
    table-layout: fixed !important;
  }

  .change-own-page2 {
    font-family: "Kozuka Gothic Pro",sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
  }

  .change-own-page3 {
    margin-bottom: 30px;
    color: #484848;
  }

  .introduction1 {
    margin-top: 30px;
  }

  .change-profile1 {
    position: absolute;
    left: 10px;
    top: 60px;
  }

  .change-profile5 {
    margin-top: 30px;
  }

  .change-profile6 {
    position: absolute;
    left: 0px;
    top: 190px;
  }
}
